.wreaths {

  &__img {
    box-shadow: -1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__code {
    margin: 10px 0;
    font-size: 16px;
    color: #484848;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__price {
    font-weight: 500;
    color: saddlebrown;
    padding-top: 10px;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  &__variants {
    font-size: 12px;
    color: darkcyan;

    @media (max-width: 1024px) {
      font-size: 10px;
    }
  }
}
