
.container {
  min-height: calc(100vh - 300px);
}

.text {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  font-size: 20px;
  line-height: 2;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.ritual_goods {
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
