
.container {
  min-height: calc(100vh - 300px);
}

.text {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 20px;
  line-height: 2;

  &:last-child {
    padding: 30px 0;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  &__bold {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
   }
}
