.select {
  &__label {
    color: black;
  }

  &__view {
    color: black;

    &::after {
      border-color: saddlebrown !important;
    }
  }

  &__item {
    color: black;
  }

  &__focused {
    color: saddlebrown !important;
  }

  &__selected {
    color: saddlebrown !important;
    background-color: rgba($color: saddlebrown, $alpha: 0.1) !important;
  }
}