.view {
  &__img {
    box-shadow: -1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__button {
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
  }

  &__content {
    position: relative;
    padding: 0 !important;
  }

  &__slider {
    max-width: 430px;
    max-height: 580px;
    overflow: hidden;
  }

  &__close {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 1;

    &Icon {
      color: saddlebrown;
    }
  }

  &__slide {
    max-height: 580px;
  }

  &__detailedImage {
    width: 430px;
    height: 580px;
    object-fit: scale-down;
  }

  &__leftBtn {
    position: absolute;
    z-index: 1;
    padding: 38px 22px 30px 2px;
    left: 0;
    top: 40%;
    background-color: transparent;
    border: 0;
    border-radius: 0 55px 55px 0;
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  
    @media (max-width: 1024px) {
      top: 30%;
    }
  }

  &__rightBtn {
    position: absolute;
    z-index: 1;
    padding: 38px 2px 30px 22px;
    right: 0;
    top: 40%;
    background-color: transparent;
    border: 0;
    border-radius: 55px 0 0 55px;
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  
    @media (max-width: 1024px) {
      top: 30%;
    }
  }

  &__arrow {
    width: 40px;
    height: 35px;
    fill: saddlebrown;
  }
}