.container {
  min-height: calc(100vh - 333px);

  @media (max-width: 1024px) {
    min-height: calc(100vh - 623px);
  }
}

.wrapper {
  background-color: whitesmoke;
  box-shadow: -1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.title {
  padding-bottom: 40px;
  text-align: center;
  font-size: 46px;
  color: saddlebrown;

  @media (max-width: 1024px) {
    font-size: 38px;
    padding-bottom: 20px;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

  @media (max-width: 1024px) {
    padding: 30px 0;
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__select {
    width: 180px;
    margin-left: auto !important;

    @media (max-width: 1024px) {
      margin-top: 10px !important;
    }
  }
}

.card {
  width: 23%;
  margin-right: 2.6%;
  margin-top: 20px;

  @media (max-width: 1024px) {
    width: 47%;
    margin-top: 20px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(-n+4) {
    margin-top: 0;
  
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }

  &:nth-child(-n+2) {
    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }
}
