.item {
  list-style: none;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: black;
  transition: 0.3s all ease;
  padding-bottom: 5px;
  border-bottom: solid 2px transparent;

  &:hover {
    color: darkcyan;
    border-color: darkcyan;
  }
}

:global {
  .active {
    color: darkcyan;
    border-color: darkcyan;
  }
}
